@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

html {
  background-color: #000000;
}

body {
  color: rgb(var(--foreground));
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .bg-gradient-radial {
    background: radial-gradient(circle, var(--tw-gradient-stops));
  }
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-200%); }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}
